{% extends "master.html" %} {% block container %}

<h2>Login</h2>

{{ error }} {% if logged %} Você já está logado{% else %}

<form method="post" action="/login">
  <div class="form-group">
    <label for=""></label>
    <input
      type="text"
      class="form-control"
      name="email"
      aria-describedby="helpId"
      placeholder=""
    />
    <small id="helpId" class="form-text text-muted">Email</small>
  </div>

  <div class="form-group">
    <label for=""></label>
    <input
      type="password"
      class="form-control"
      name="password"
      aria-describedby="helpId"
      placeholder=""
    />
    <small id="helpId" class="form-text text-muted">Password</small>
  </div>

  <button type="submit" class="btn btn-primary">Logar</button>
</form>
{% endif %} {% endblock %}
