{% extends "master.twig" %}

{% block content %}

    <h2>Login</h2>

     {{ error }}

    <form method="post" action="/login">

      <div class="form-group">
        <label for=""></label>
        <input type="text"
          class="form-control" name="email" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Email</small>
      </div>
      
      <div class="form-group">
        <label for=""></label>
        <input type="password"
          class="form-control" name="password" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Password</small>
      </div>
      
        <button type="submit" class="btn btn-primary">Logar</button>
    </form>

{% endblock %}